.fz-16{
  font-size:16px!important;
}

.fz-24{
  font-size:24px!important;
}

.fz-45{
  font-size:45px!important;
}

.ml-auto {
  margin-left: auto !important;
}

.fa-circle-user{
  color:black!important;
  font-size : 20px;
}

.btn-icon .btn-icon-image {
  width: 24px; 
  margin-right: 2px; 
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand .fz-45 {
  margin-left: 10px; /* Ajouter une marge à gauche pour l'espace entre l'image et le texte */
}


.custom-background {
  background-image: url('https://cdn.pixabay.com/photo/2022/03/31/10/43/plain-background-7102744_1280.png');
  background-size: cover;
  background-position: center;
}

.text-container {
  margin-top: 40px; /* Ajouter une marge supérieure à la div */
  margin-bottom: 30px;
}

 .btn-primary {
  transition: color 0.3s;
}

 .a:hover {
  color: #fff;
} 

.equal-height-cards .card {
  height: 100%;
}

.card-section {
  background-color:  #77AF9C;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  }
  
  @media (min-width: 1025px) {
  .h-custom-2 {
  height: 100%;
  }
  }

  /* .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
} */

.tab {
    overflow: hidden;
    margin-bottom: 20px;
}

.tab button {
    background-color: #f2f2f2;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
}
